/* Add CSS Styling */
.odd {
    background-color: #ffb6c1; /* light pink */
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second {
    color: #0000ff; /* blue */
    font-size: 36px;
}

.cool {
    font-size: 24px;
}

#fourth {
    background-color: #90ee90; /* light green */
    font-size: 24px;
    font-weight: bold;
}
